#myForm{
    background-color: rgba(156, 192, 224, 0.932);
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: cursive;
    
   
    
}
/* #myForm input{
    margin-left:20% ;
    margin-right: 80%;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
img{
    border-radius: 300px;
    align-items: center;
}

.form-group{
    margin-left: 20%;
    margin-right: 20%;
    
}
button{
    margin-left: 20%;
    margin-top: 2%;
}